package components

templ BreadCrumbs(links ...LinkOpts) {
	<ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
		for _, item := range links {
			<li class={ "breadcrumb-item",templ.KV("active",item.Active) }>
				@Link(item)
			</li>
		}
	</ol>
}

type LinkOpts struct {
	HREF   string
	Class  string
	Text   string
	Active bool
}

templ Link(opts LinkOpts) {
	<a href={ templ.URL(opts.HREF) } class={ opts.Class }>{ opts.Text }</a>
}
